{% extends "layout_bank.html" %}
{% block content %}
    
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    
    <div class="page-header m-5">
        <h1 class="text-center">Clear Loan Application</h1>
    </div>

    <div class="row"><div class="col-md-12 text-center"><h2>Cuurent loan application in the list</h2></div></div>
    <form method="POST" action="">
    {% for loan in current_loan %}
    <div class="row my-2">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Application No : {{loan['application_id']}}</h5>
              <h5 class="card-title text-center">Loan ID {{loan['Loan_id']}}</h5>
              <p class="card-text">Principal : {{loan['principal']}}</p>
              <p class="card-text">Max Period : {{loan['max_period']}}</p>
              <p class="card-text">Customer ID : <input class="btn" id="submit" name="submit" type="submit" value="{{loan['application_id']}}"></p>             
            </div>
          </div>
        </div>
      <div class="col-md-3"></div>
      </div>
    {% endfor %}
    </form>
    
{% endblock content %}