{% extends "layout_company.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row m-1 bg-light round_border_small m-1">
    <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">Registered company stock data</legend>
                
                <div class="form-group text-center">
                    {{ form.radio.label(class = "form-control-label") }}
                    {% for choice in form.radio %}
                        <tr>
                            <td>{{ choice }}</td>
                            <td>{{ choice.label }}</td>
                        </tr>
                    {% endfor%}
                    
                </div>
                <div class="form-group text-center">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <table style="width: 100%" class="m-3">
                    <tr class="border_small">
                        <th class="text-center">ID</th>
                        <th class="vl text-center">NAME</th>
                        <th class="vl text-center">PE Ratio</th>
                        <th class="vl text-center">Quick Ratio</th>
                        <th class="vl text-center">Acc Payable</th>
                        <th class="vl text-center">Acc Receivable</th>
                        <th class="vl text-center">EPS</th>
                        <th class="vl text-center">Market Value</th>
                        <th class="vl text-center">Book Value</th>
                        <th class="vl text-center">Total Assets</th>
                        <th class="vl text-center">Total Liabilities</th>
                        <th class="vl text-center">Inventories</th>
                        <th class="vl text-center">External Fundings</th>
                        <th class="vl text-center">Retained Earnings</th>
                    </tr> 

                    {% for record in data %}
                    <tr>
                        {% for val in record %}
                        <td class="vl rl text-center">
                            {{ val }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </fieldset>    

    </form>
</div>
</div>

{% endblock content %}