{% extends "layout.html" %}
{% block content %}
    <div class="content-section round_border bg-light p-2 m-2">
        <h3>Bonds</h3>
        <p>
            Tax-free bonds

If you are in the highest tax bracket and looking for a tax efficient investment option, tax-free bonds should top the charts. Public sector undertakings such as IRFC, PFC, NHAI, HUDCO, REC, NTPC, NHPC and Indian Renewable Energy Development Agency (IREDA) offer such bonds. These bonds typically come with a tenure of 10 years, 15 years and 20 years, but can be sold before maturity in the secondary market. You can buy these bonds either in the physical form or through demat account. Currently no such bonds are available in the primary market. You will have to wait for the public issue of these bonds and you can apply physically or online if you have a demat account. However, these bonds are also available in the secondary market and may come at a premium due to falling interest rate. These are listed both on the BSE and NSE from where you can buy.
        </p>
    </div>

{% endblock content %}