{% extends "layout_company.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
    <div class="col-md-6 round_border bg-light p-2 m-2">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Market Competition</legend>
                
                <div class="form-group">
                    {{ form.id.label(class="form-control-label") }}
                    {% if form.id.errors %}
                        {{ form.id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>



        </form>
    </div>
    <div class="col-md-3"></div>
    </div>

    <div class="row round bg-light mx-4 my-2">
    <H3>YOUR DATA</H3>
    <table style="width: 100%">
        <tr>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PE Ratio</th>
                <th>Quick Ratio</th>
                <th>Acc Payable</th>
                <th>Acc Receivable</th>
                <th>EPS</th>
                <th>Market Value</th>
                <th>Book Value</th>
                <th>Total Assets</th>
                <th>Total Liabilities</th>
                <th>Inventories</th>
                <th>External Fundings</th>
                <th>Retained Earnings</th>
            </tr> 
        </tr> 
        {% for record in data0 %}
        <tr>
            {% for val in record %}
            <td>
                {{ val }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>

<div class="row round bg-light mx-4 my-2">
<H3>BEST DATA</H3>
<table style="width: 100%">
    <tr>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PE Ratio</th>
            <th>Quick Ratio</th>
            <th>Acc Payable</th>
            <th>Acc Receivable</th>
            <th>EPS</th>
            <th>Market Value</th>
            <th>Book Value</th>
            <th>Total Assets</th>
            <th>Total Liabilities</th>
            <th>Inventories</th>
            <th>External Fundings</th>
            <th>Retained Earnings</th>
        </tr> 
    </tr> 
    {% for record in data %}
    <tr>
        {% for val in record %}
        <td>
            {{ val }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>

<div class="row round bg-light mx-4 my-2">
<H3>COMPANIES PERFORMING BETTER THAN YOU</H3>
<table style="width: 100%">
    <tr>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PE Ratio</th>
            <th>Quick Ratio</th>
            <th>Acc Payable</th>
            <th>Acc Receivable</th>
            <th>EPS</th>
            <th>Market Value</th>
            <th>Book Value</th>
            <th>Total Assets</th>
            <th>Total Liabilities</th>
            <th>Inventories</th>
            <th>External Fundings</th>
            <th>Retained Earnings</th>
        </tr> 
    </tr> 
    {% for record in data1 %}
    <tr>
        {% for val in record %}
        <td>
            {{ val }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>

<div class="row round bg-light mx-4 my-2">
<H3>REVENUE BY CATEGORY</H3>
<table style="width: 100%">
    <tr>
        <tr>
            <th>CATEGORY</th>
            <th>REVENUE</th>
        </tr> 
    </tr> 
    {% for record in data2 %}
    <tr>
        {% for val in record %}
        <td>
            {{ val }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
</div>

{% endblock content %}