{% extends "layout.html" %}
{% block content %}
    <div class="content-section round_border bg-light p-2 m-2">
        <h3>Fixed Deposit</h3>
        <p>
        In a Fixed Deposit, you put a lump sum in your bank for a fixed tenure at an agreed rate of interest. At the end of the tenure, you receive the amount you have invested plus compound interest. 
        <br>
        FDs are also called term deposits.
        <br>
        A Fixed Deposit offers guaranteed returns. Unlike market-led investments where returns fluctuate over time, the returns on an FD are fixed when you open the account. Even if interest rates fall after you open a Fixed Deposit, you will continue to receive the interest decided at the start. FDs are considered much safer than investments in other assets like equity.
        </p>
    </div>

{% endblock content %}