{% extends "layout.html" %}
{% block content %}
    <div class="content-section round_border bg-light p-2 m-2">
        <h3>Gold</h3>
        <p>
            In general, investors looking to invest in gold directly have three choices: they can purchase the physical asset, they can purchase shares of a mutual or exchange-traded fund (ETF) that replicates the price of gold, or they can trade futures and options in the commodities market. Average investors, for example, might buy gold coins, while sophisticated investors implement strategies using options on gold futures.
        </p>
    </div>

{% endblock content %}