{% extends "layout.html" %}
{% block content %}
    <div class="content-section round_border bg-light p-2 m-2">
        <h3>NIFTY</h3>
        <p>
            The term Nifty is derived from the combination National and Fifty as Nifty consists of 50 actively traded stocks. Nifty is primarily an equity benchmark index which was introduced in April 21, 1996 by National Stock Exchange. Nifty is an abbreviation of National Stock Exchange Fifty, it is the broad index of National Stock Exchange (NSE). NSE is a leading stock exchange in India.
<br>
On June 12, 2000, NSE commenced trading in derivatives with index future. The future contracts are based on Nifty 50. Later on the exchange introduced trading in index options on June 4, 2001.
<br>
Now let’s see what is Nifty?
<br>
Nifty generally comprises of fifty actively traded stocks but currently there are fifty-one stocks. Nifty is also known as Nifty50 or CNX Nifty. Nifty is owned by India Index Services and Products Ltd. (IISL). IISL is India’s specialized company which focuses on index as its core product. It is one of the largest financial products with an ecosystem of ETF, ETF F&O and other index funds and OTC derivatives.
        </p>
    </div>

{% endblock content %}