{% extends "layout.html" %}
{% block content %}
    <div class="content-section round_border bg-light p-2 m-2">
        <h3>National Pension Scheme</h3>
        <p>
            National payment systems are the conduits through which buyers and sellers of financial products and services make transactions and are an important component of a country's financial system. Global financial liberalization and advancements in information technology have enabled significant updates to the architecture of large-value, retail and securities payment systems, as well as the processes and procedures carried out by operators, administrators, regulators and users of the systems.

<br>
In a large number of countries, a significant measure of responsibility for the integrity of the national payment system exists within the central bank. This article will provide an overview of financial payment systems and the role they play in the modern global financial system.
        </p>
    </div>

{% endblock content %}