{% extends "layout.html" %}
{% block content %}
    <div class="content-section round_border bg-light p-2 m-2">
        <h3>Public Provident Fund</h3>
        <p>
            The Public Provident Fund is a savings-cum-tax-saving instrument in India,[1] introduced by the National Savings Institute of the Ministry of Finance in 1968. The aim of the scheme is to mobilize small savings by offering an investment with reasonable returns combined with income tax benefits.[2] The scheme is fully guaranteed by the Central Government. Balance in PPF account is not subject to attachment under any order or decree of court. However, Income Tax & other Government authorities can attach the account for recovering tax dues.
<br>
Public Provident Fund Scheme, 2019 introduced by the Government on 12.12.2019 and with the new scheme the earlier Public Provident Fund Scheme, 1968 as amended from time to time is rescinded.


        </p>
    </div>

{% endblock content %}