{% extends "layout.html" %}
{% block content %}
    <div class="content-section round_border bg-light p-2 m-2">
        <h3>Real Estate</h3>
        <p>
            Buying and owning real estate is an investment strategy that can be both satisfying and lucrative. Unlike stock and bond investors, prospective real estate owners can use leverage to buy a property by paying a portion of the total cost up front, then paying off the balance, plus interest, over time.
<br>

While a traditional mortgage generally requires a 20% to 25% down payment, in some cases a 5% down payment is all it takes to purchase an entire property. This ability to control the asset the moment papers are signed emboldens both real estate flippers and landlords, who can, in turn, take out second mortgages on their homes in order to make down payments on additional properties.
        </p>
    </div>

{% endblock content %}