{% extends "layout.html" %}
{% block content %}
    <div class="content-section round_border bg-light p-2 m-2">
        <h3>SENSEX</h3>
        <p>
            Sensex, otherwise known as the S&P BSE Sensex index, is the benchmark index of the Bombay Stock Exchange (BSE) in India. Sensex comprises 30 of the largest and most actively-traded stocks on the BSE, providing an accurate gauge of India's economy. The index's composition is reviewed in June and December each year. Initially compiled in 1986, the Sensex is the oldest stock index in India. Analysts and investors use the Sensex to observe the overall growth, development of particular industries, and booms and busts of the Indian economy.
        </p>
    </div>

{% endblock content %}